{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block content %}
    <!-- Home Banner -->
    <section class="home-banner" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-end text-end" data-scrollax-parent="true" style="height: 590px;">
                <div class="col-lg-6">
                    <div class="mt-5">
                        <h1 class="h1 fw-bold display-2">ALERT'VOL</h1>
                        <h3 class="h3">Un Service Proposé par Go4IoT</h3>
                        <p class="mb-4">Plateforme communautaire d'entraide de signalements de biens volés.</p>
                        <p><a href="#" class="btn btn-primary">Découvrir</a>
                            <a href="#" class="btn btn-dark" data-toggle="modal" data-target="#exampleModalCenter">Tester</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Home Banner -->
    <!-- Section Call To Action -->
    <section class="section custom-home-section" style="background-color: #FFA500;">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 my-3">
                    <h2 class="h1 font-w-700 mt-5 p-4">Vous avez perdu un objet de valeur ?</h2>
                    <div class="border-top border-2 border-dark pt-5 mt-2">
                        <p class="lead mb-5">Postez une annonce et diffusez sur les réseaux sociaux instantanément.</p>
                    </div>
                </div>
                <div class="col-lg-6 ms-lg-auto my-3">
                    <div class="row">
                        <div class="col-sm-6 my-3">
                            <div class="card card-custom-services p-2" style="background-color: #E66C1A; border-radius: 20px;">
                                <a href="{{ path('annonce_new') }}" style="color: black;">
                                    <div class="font-w-500 m-0 text-center fw-bold">
                                        Poster une annonce >
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-6 my-3">
                            <div class="card card-custom-services p-2" style="background-color: #F4F4F4; border-radius: 20px;">
                                <a href="{{ path('annonce_index') }}" style="color: black;">
                                    <div class="font-w-500 m-0 text-center fw-bold">
                                        Consulter les annonces >
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Section -->
    <!-- Section Caroussel -->
    <section class="section bg-gray-100">
        <div class="container">
            <div class="row justify-content-center section-heading">
                <div class="col-lg-8 col-xl-7 text-center p-5">
                    <h3 class="h1 p-2">Les Dernières Annonces</h3>
                    <div class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque commodo dolor vel odio cursus, et lacinia odio interdum.</div>
                </div>
            </div>
            <div class="row justify-content-center section-carousel">
                <div class="col">
                    {# @TODO : replace the images with the card _annonce_min #}
                    <div class="carousel-home-page center">
                        {% for hit in response.hits %}
                            <figure class="carousel-image-container">
                                <img class="d-block w-100 carousel-image" alt="{{ hit.tags }}" src="{{ hit.previewURL }}">
                                <figcaption>{{ hit.tags }}</figcaption>
                            </figure>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End section -->
    <!-- Section Les Services -->
    <section class="section" style="background-color: #428BCA;">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 my-3">
                    <h6 class="mb-3">Que fais Alert'Vol?</h6>
                    <h2 class="h1 font-w-700 text-white p-4">Nous vous aidons à retrouver vos biens de valeur perdus ou volés.</h2>
                    <div class="border-top border-2 border-dark pt-5 mt-5">
                        <p class="lead m-0 text-white">Lorem Ipsum is simply text the printing and typesetting.</p>
                    </div>
                    <div class="pt-4">
                        <a class="btn btn-primary" href="#">
                            <span class="btn--text">En savoir plus</span>
                            <span class="arrow"></span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 ms-lg-auto my-3">
                    <h3 class="text-white">Nos Atouts</h3>
                    <div class="row">
                        <div class="col-sm-6 my-3">
                            <div class="card card-custom-services p-2" style="background-color: #FFA500;">
                                <div class="only-icon-lg mb-3">
                                    <i class="icon-desktop"></i>
                                </div>
                                <h5>La Communauté</h5>
                                <p class="m-0">Être tous réunis et connectés sur une seule plateforme d'entraide.</p>
                            </div>
                        </div>
                        <div class="col-sm-6 my-3">
                            <div class="card card-custom-services p-2" style="background-color: #FFA500;">
                                <div class="only-icon-lg mb-3">
                                    <i class="icon-hotairballoon"></i>
                                </div>
                                <h5>La Simplicité</h5>
                                <p class="m-0">Une seule annonce peut être diffusée sur plusieurs réseaux en un clic !</p>
                            </div>
                        </div>
                        <div class="col-sm-6 my-3">
                            <div class="card card-custom-services p-2" style="background-color: #FFA500;">
                                <div class="only-icon-lg mb-3">
                                    <i class="icon-scissors"></i>
                                </div>
                                <h5>Un sponsor</h5>
                                <p class="m-0">La société Go4IoT qui créé et fournit des objets connectés professionnels.</p>
                            </div>
                        </div>
                        <div class="col-sm-6 my-3">
                            <div class="card card-custom-services p-2" style="background-color: #FFA500;">
                                <div class="only-icon-lg mb-3">
                                    <i class="icon-laptop"></i>
                                </div>
                                <h5>La Gratuité</h5>
                                <p class="m-0">Un compte utilisateur gratuit pour accéder à l'ensemble de ses services.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Section -->
    <!-- Section A Propos -->
    <section class="section effect-section">
        <div class="effect-2">
            <img src="static/img/effect/style-2.svg" title="" alt="" class="svg_img text-gray-100">
        </div>
        <div class="container">
            <div class="row align-items-center justify-content-around">
                <div class="col-lg-6 my-3 text-center">
                    <img class="img-a-propos" src="https://techcrunch.com/wp-content/uploads/2017/06/push.jpg?w=730&crop=1" alt="notifications-and-simplicity">
                </div>
                <div class="col-lg-6 col-xl-5 my-3">
                    <h3 class="h1 pb-2">Unlimited power and customization possibilities.</h3>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elitd do eiusmod tempor incididunt ut lore magna aliqua.</p>
                    <div class="border-start border-2 border-primary ps-4 mt-6">
                        <h6 class="lead font-w-600">Grow your website traffic with us</h6>
                        <p>Raino is a HTML5 template based on Sass and Bootstrap 4 with modern and creative multipurpose design</p>
                    </div>
                    <div class="pt-4">
                        <a class="btn btn-primary" href="#">
                            <span class="btn--text">More About Us</span>
                            <span class="arrow"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End section -->
    <!-- Section Inscription -->
    <section class="section bg-gray-100" style="background-color: #FFA500;">
        <div class="container">
            <div class="row justify-content-center section-heading">
                <div class="col-lg-8 col-xl-7 text-center">
                    <h3 class="h1 p-4">Abonnez-vous à nos Publications</h3>
                    <div class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque commodo dolor vel odio cursus, et lacinia odio interdum.</div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8 col-xl-7">
                    <form class="d-flex flex-row mb-2 p-1 bg-white input-group shadow-lg">
                        <input type="email" class="form-control form-control-lg rounded-0 border-0" placeholder="you@yoursite.com">
                        <button class="btn btn-primary rounded-0 flex-shrink-0" type="submit">S'abonner</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- End section -->
{% endblock %}

