{{ form_start(form) }}
    {{ form_widget(form) }}



<div class="container" style="margin: auto; display: flex; justify-content: space-evenly">
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
    <a class="btn btn-dark" href="{{ path('annonce_index') }}">Annuler</a>
</div>

{{ form_end(form) }}
