{% extends 'layout/sidebar-left-only.html.twig' %}

{% block title %}Edit Annonce{% endblock %}

{% block main %}
    {# display any flash message #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }} alert-dismissible fade show">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <h1>Modifier votre annonce</h1>
    <a class="btn btn-dark mt-3 mb-3" href="{{ path('annonce_index') }}">back to list</a>

    <div class="container">
        <div class="row edit-annonce">
            <div class="col-md-6">
                {{ include('annonce/_form.html.twig', {'button_label': 'Update'}) }}
            </div>
            <div role="list" class="img-show-annonce col-md-6">
                <div class="row w-100 upload-form">
                    {{ include('annonce/_form_upload.html.twig', {'button_label': 'Ajouter'}) }}
                </div>
                <div class="row w-100 galery">
                    {% for annonceImage in annonce.annonceImages %}
                        <figure class="img-galery col-sm">
                            <div class="button-delete-img">
                                <form method="post" action="{{ path('annonce_deleteImage', {'id': annonceImage.id, 'slug': annonce.slug}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ annonceImage.id) }}">
                                    <button class="btn btn-danger">Delete</button>
                                </form>
                            </div>
                            <img class="img-thumbnail rounded galery-img" src="{{ vich_uploader_asset(annonceImage) }}" alt="{{ annonceImage.name }}">
                            <figcaption class="font-italic">Dernière mise à jour : {{ annonceImage.updatedAt|date('Y-m-d') }}
                            </figcaption>
                        </figure>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="mt-5">
        {{ include('annonce/_delete_form.html.twig') }}
    </div>
{% endblock %}
