{% extends 'layout/sidebar-left-only.html.twig' %}

{% block title %}Toutes les annonces{% endblock %}

{% block main %}
    <div>
    <div class="row">
        <div class="col-md-12">

            <h1 class="mt-5">Toutes les annonces</h1>

            <div class="annonces-header justify-content-start mt-2">

                <a class="btn btn-black" href="{{ path('app_index') }}">
                    Retour à l'accueil
                </a>

            </div>
            <div class="row">
                {# Display elements searched with the searchBar by key words, date or location #}
                {% if app.request.query is not empty %}
                <div class="col my-3 d-flex align-items-center"> Votre recherche :
                    {% if app.request.query.get("dateSearch") %}
                        par date :
                        {{ app.request.query.get("dateSearch").day }} /
                        {{ app.request.query.get("dateSearch").month }} /
                        {{ app.request.query.get("dateSearch").year }}
                    {% endif %}
                    {% if app.request.query.get("placeSearch") %}    par lieu : {{ app.request.query.get("placeSearch") }}{% endif %}
                    {% if app.request.query.get("search") %}    par mots clés : {{ app.request.query.get("search") }}{% endif %}
                    <a class="btn btn-secondary mx-3" href="{{ path('annonce_index') }}">
                        Réinitialiser
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="row js-filter">
            <div class="col-md-9 gx-5">
                {# Sorting by date or A-Z #}
                {% include '/annonce/_sorting.html.twig' %}

                {# Display the announces #}
                {% include '/annonce/_annonces.html.twig' %}

                {# Pagination #}
                {% include '/annonce/_pagination.html.twig' %}

                <a class="btn btn-black mt-2" href="{{ path('app_index') }}">
                    Retour à l'accueil
                </a>
            </div>
            <div class="col-md-3 flex-column shadow-lg">
                {% include 'layout/_right-sidebar.html.twig' %}
            </div>

        </div>
    </div>
    </div>

{% endblock %}
