{% extends 'layout/sidebars.html.twig' %}

{% block title %}Annonce{% endblock %}

{% block main %}

    <h1>{{ annonce.title|title }}</h1>

    <!-- Section Caroussel -->
    <section class="section bg-gray">
        <h3 class="h3">Galerie d'images</h3>
        <div class="container">
            <div class="row justify-content-center section-carousel">
                <div class="col">
                    <div class="carousel-home-page center">
                        {% if annonce.annonceImages is not empty %}
                            {% for annonceImage in annonce.annonceImages %}
                                <figure class="carousel-image-container">
                                    <img class="d-block w-300 carousel-image" src="{{ vich_uploader_asset(annonceImage) }}" alt="{{ annonceImage.name }}">
                                    <figcaption class="font-italic">Dernière mise à jour : {{ annonceImage.updatedAt|date('Y-m-d') }}
                                    </figcaption>
                                </figure>
                            {% endfor %}
                        {% else %}
                            Aucune image enregistrée pour le moment. %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End section -->
    <!-- Section Details -->
    <h3 class="h3 mt-5">Détails</h3>
    <div class="container annonce-show mb-5" style="background-color: white; border-radius: 20px">
        <div class="row">
            <div class="col-md-6">
                <p>
                    Annonce postée le : {{ annonce.publishedAt|date('d-m-Y') }} par {% if annonce.owner %}{{ annonce.owner.pseudo|title }}{% else %}Anonymous{% endif %}<br>
                    Plaque d'immatriculation ou Numéro de série : {{ annonce.reference|upper }}<br><br>
                    Ce bien a été perdu/volé le : {{ annonce.stolenAt|date("m/d/Y") }} <br>
                    A : Ville, {{ annonce.location }}<br><br>
                    Description : {{ annonce.description }}<br>
            </div>
            <div class="col-md-6">
                Les signes distinctifs :<br>
                <ul>{% for key, detail in annonce.details %}
                        <li>{{ key }}: {{ detail }}</li>
                    {% endfor %}</ul>
                </p>
            </div>
        </div>
    </div>
    <!-- End section -->
    <!-- Section Map -->
    <h3 class="h3">Localisation</h3>
    <div class="container map-display">
        <div class="row">
            <div class="col map-img">
                <img class="img-fluid" src="/build/images/fixed_map_test.42de0df2.png" alt="carte avec localisation de la perte ou du vol">
            </div>
        </div>
    </div>
    <!-- End section -->
    <!-- Section buttons -->
    <div class="row btn-custom-show p-5" style="display: flex; justify-content: space-evenly">
        <div class="col-6 m-auto d-flex justify-content-evenly">

            <a class="btn btn-dark" href="{{ path('annonce_index') }}">back to list</a>

            <a class="btn btn-primary" href="{{ path('annonce_edit', {'slug': annonce.slug}) }}">edit</a>

            {{ include('annonce/_delete_form.html.twig') }}
        </div>
    </div>
    <!-- End section -->
{% endblock %}
