{% extends 'layout/sidebar-left-only.html.twig' %}

{% block main %}
    <section class="row-cols-auto mt-5">
        {% if app.user == annonce.owner %}
            <div class="alert alert-warning">
                <i class="fas fa-exclamation-triangle"></i>
                Vous êtes sur le point de déposer un signalement pour une annonce dont vous êtes l'auteur.
            </div>
        {% endif %}
    </section>
    <section class="row mb-5">
        <div class="col-md-6 d-flex flex-column justify-content-center">
            <div class="w-50">
            {% if annonce.annonceImages|length %}
                <img class="card-img-top" src="{{ asset('uploads/' ~ annonce.annonceImages[0].name) }}" alt='{{ annonce.slug }}'>
            {% else %}
                <img class="card-img-top" src="https://fakeimg.pl/250x100/" alt='no picture'>
            {% endif %}        </div>
            <h3>{{ annonce.title|title }}</h3>
            <p>Perdu le : {{ annonce.stolenAt|date("m/d/Y") }}</p>
            <p>Référence : {{ annonce.reference | upper }}</p>
            <p>Description :{{ annonce.description }} </p>
            <a class="btn btn-black" href="{{ path('annonce_show', {'slug':annonce.slug}) }}" >Retour à l'annonce</a>
        </div>
        <div class="col-md-6">
            {{ include('layout/_map.html.twig') }}
        </div>
    </section>
    <section class="row mb-5">
        <div class="col">
            {% include 'signalement/_form-signalement.html.twig' with {edit: false, button_icon: 'paper-plane'} %}
        </div>
    </section>
{% endblock %}
