<!-- #Right Sidebar ==================== -->
<div class="filter me-5">
<a class="btn btn-blue p-2 mb-3" href="{{ path('annonce_new') }}">
        Ajouter une annonce [+]
</a>
        {{ form_start(form) }}
        {{ form_row(form.search) }}
        {{ form_row(form.placeSearch) }}

        {{ form_row(form.dateSearch) }}

        <h4>Catégories</h4>
        {{ form_row(form.categories) }}

        <button type="submit" class="btn btn-secondary">Rechercher</button>
        {{ form_end(form) }}

</div>
